USE [DriveXO]
GO
/****** Object:  Table [dbo].[Blogs]    Script Date: 14/07/2025 7:40:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blogs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[summary] [nvarchar](max) NULL,
	[content] [nvarchar](max) NULL,
	[image] [nvarchar](255) NULL,
	[published_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Blogs] ON 

INSERT [dbo].[Blogs] ([id], [title], [summary], [content], [image], [published_at]) VALUES (1, N'Electric Cars are the Future', N'Explore how EVs are shaping the automotive industry.', N'Electric vehicles (EVs) are gaining momentum rapidly as governments push for cleaner energy and reduced emissions.', N'ev-future.jpg', CAST(N'2025-06-27T13:23:35.760' AS DateTime))
INSERT [dbo].[Blogs] ([id], [title], [summary], [content], [image], [published_at]) VALUES (2, N'Why Regular Maintenance Matters', N'Keeping your car in shape prevents costly repairs.', N'Regular maintenance helps detect issues early, improves safety, and keeps your car performing efficiently.', N'maintenance.jpg', CAST(N'2025-06-25T13:23:35.760' AS DateTime))
INSERT [dbo].[Blogs] ([id], [title], [summary], [content], [image], [published_at]) VALUES (3, N'DriverXO Announces 2025 Lineup', N'Exciting models are coming your way next year!', N'DriverXO is launching new electric, hybrid, and high-performance vehicles in 2025.', N'lineup-2025.jpg', CAST(N'2025-06-23T13:23:35.760' AS DateTime))
SET IDENTITY_INSERT [dbo].[Blogs] OFF
GO
